button.btn.nav-link(type='button' data-bs-toggle='modal' data-bs-target='#signUp' style="color:black; text-decoration:none; border:none;")
    | Sign Up
                      
#signUp.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h5#staticBackdropLabel.modal-title Sign Up
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                form(method='POST' action='/register')
                    div.form-group
                    label.mt-3(for='name') Name:
                    input#name.form-control(type='text', placeholder='first and last' name='name')
                    div.form-group
                    label.mt-3(for='email-signup') Email:
                    input#email-signup.form-control(type='email', placeholder='name@email.com' name='email')
                    div.form-group
                    label.mt-3(for='pw-signup') Password:
                    input#pw-signup.form-control(type='password' name='password')
                    div.form-group
                    label.mt-3(for='pw2-signup') Confirm Password:
                    input#pw2-signup.form-control(type='password' name='confirmPassword')
                    button.btn.btn-dark.mt-3(type='submit') Sign up
                     
                     
button.btn.nav-link(type='button' data-bs-toggle='modal' data-bs-target='#signIn' style="color:black; text-decoration:none; border:none;")
    | Sign In
                      
#signIn.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h5#staticBackdropLabel.modal-title Sign In
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                form(method='POST' action='/login')
                    div.form-group
                    label.mt-3(for='email') Email:
                    input#email.form-control(type='email', placeholder='name@email.com' name='email')
                    div.form-group
                    label.mt-3(for='pw') Password:
                    input#pw.form-control(type='password' name='password')
                    button.btn.btn-dark.mt-3(type='submit') Sign In