extends layout.pug 

block content 
    body
        .contariner
            .row
                h1.display-2.text-center.border-1 Shopping Cart
            .row
                #accordionExample.accordion
                    .accordion-item
                        h2#headingOne.accordion-header
                            button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
                                .container
                                    .row
                                        .col 
                                            p itemnames
                                        .col 
                                            p item price
                        #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
                            .accordion-body
                                strong This is the first item's accordion body.
                                |  It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the 
                                code .accordion-body
                                | , though the transition does limit overflow.

                

